{% extends "base_generic.html" %}

{% block content %}
<div class="flex items-center justify-center min-h-screen bg-violet-50">
    <div class="bg-white rounded-lg shadow-lg w-full max-w-md text-center p-8">
      <h1 class="font-semibold text-xl text-gray-800 mb-4">Password Reset Complete</h1>
      <p class="text-sm text-gray-600 mb-6">Your password has been changed successfully. You can now log in with your new password.</p>
      <a href="https://mypassvault.vercel.app/login" class="bg-purple-600 text-white py-2 px-8 rounded-full hover:bg-purple-700 transition duration-200 inline-block">Log In</a>
    </div>
</div>
{% endblock %}