<!DOCTYPE html>
<html>
  <body style="color: black; text-decoration: none;">
    <p style="color: black;">Hi {{ user.first_name }},</p>

    <p style="color: black;">You're receiving this email because you requested a password reset for your MyPassVault account.</p>

    <p style="color: black;">To reset your password, click the link below:</p>
    <p style="color: black;">
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    </p>

    <p style="color: black;">In case you've forgotten, the registered email with your account is {{ user.email }}</p>

    <p style="color: black;">If you didn’t request this, please ignore this email.</p>

    <p style="color: black;">
        Thanks for using our site!<br><br>
        The MyPassVault Team<br><br>
        <img src="https://via.placeholder.com/1" alt="" width="1" height="1" style="display: block;"/>
    </p>
  </body>
</html>
